<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>Links Mini V1.1</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </head>
    <body>

        {% if user.is_authenticated %}
            {% include 'lmini_app/base_page.html' %}
            <br>

            <div class="container"><h2 style ="font-size: 13px">Available Orders</h2></div>
            <div class ="container" style="position: relative;width:100%;display: block;">
            <div class = "col-md-6">
                <form action="#" method="post">  
                    <table border="1" class="table table-bordered" style="border-collapse: collapse; width: 120%;font-size: 10px">
                        <thead>
                            <th>Orderno</th>
                            <th>Status</th>
                            <th>No of Lines</th>
                            <th>Line Recieved</th>
                            <th>Order Qty</th>
                            <th>Qty Received</th>
                            <th>Receive ASN</th>
                        </thead>
                        {% for k in avail_order  %}
                        <tr>
                            <td><button type="submit" id="{{k.orderno}}" name = "orderno_r" value="{{k.orderno}}">{{k.orderno}}</button></td>
                            <td>{{k.status}}</td>
                            <td>{{k.nooflines}}</td>
                            <td>{{k.linesreceived}}</td>
                            <td>{{k.totalqty}}</td>
                            <td>{{k.qtyreceived}}</td>
                            <td><input type="checkbox" id="receive" name="receive_r" value="receive"></td>
                        </tr>
                        {% endfor %}
                        {% csrf_token %}
                    </table>
                </form>
            </div>

            <div class = "col-md-6" style = "margin-left:1%;">
                <h4>Receive Order</h4>

                <form action="#" method="post">
                        <label for="">SKU</label>
                        <input type="text" id="sku" name="partnumber" placeholder="Scan Barcode." Required>
                        <br>
                        <label for="">Qty</label>
                        <input type="number" id="qty" name="qty" min="1" placeholder="Enter Qty No." Required>
                        <br>
                    {% for k in avail_order %}
                    <input type="submit" class="btn btn-primary" name="orderno" value="{{k.orderno}}">
                    {% endfor %}
                    {% csrf_token %}
                    <h5>Executed on: {{orderno}}</h5>
                </form>
            </div>
            </div>
            <div class="container"><hr class="rounded" style="border-top: 8px solid #bbb;border-radius: 5px;"></div>


            <div class="container">{% include 'lmini_app/message.html' %}</div>
            <div class="container" style="position: relative;height:105px;">
                <h3>Lines Available {{num}}</h3>
                <form action="#" method="post">
                        {% for i in avail_order %}
                        <button type ="submit" class="btn btn-info" name="sel_orderno" value="{{i.orderno}}">{{i.orderno}}</button>
                        {% endfor %}
                        {% csrf_token %}
                </form>
            </div>
            
            <div class="container" style="position: relative;overflow-y:auto;">
                <h4 style="font-size: 14px;">Orderno Select: {{sel_orderno}}</h4>
                    <form action="#" method="post" class="table table-bordered" style="border-collapse: collapse; width: 70%;font-size: 10px">
                        <table border="1"  class="table table-bordered">
                            <thead>
                                <th>ProductCode</th>
                                <th>Lines Status</th>
                                <th>qty Received</th>
                            </thead>
                            {% for k in avail_lines  %}
                            <tr>
                                <td><button type="submit" id="{{k.productcode}}" name = "sel_line" value="{{k.partnumber}}">{{k.partnumber}}</button></td>
                                <td>{{k.linestatus}}</td>
                                <td>{{k.qtyreceived}}</td>
                                <td><input type="checkbox" id="update_status" name="open" value="{{k.orderno}}"></td>
                            </tr>
                            {% endfor %}
                            {% csrf_token %}
                        </table>
                    </form>
            </div>
    
            <br>
            <div class="container"><hr class="rounded" style="border-top: 8px solid #bbb;border-radius: 5px;"></div>
            <br>
    
            <div class="container" style = "position: relative;height:200px;">
                <h4>Close ASN</h4>
                <form action="#" method="post">
                    {% for k in avail_order %}
                    <input type="radio" id="html" name="sel_close_orderno" value="{{k.orderno}}">
                    <label for="html"></label>
                    <button class ="btn btn-danger" type="submit" name="close" value ="{{k.orderno}}">{{k.orderno}}</button>
                    {% endfor %}
                    {% csrf_token %}
                </form>
            </div>
            {% else %}
            <li><a class="navbar-link" href="{% url 'user_login' %}">Login</a></li>
            <li><a class="navbar-link" href="{% url 'register' %}">Regsiter</a></li>
            {% endif %}
            {% csrf_token %}
    </body>
</html>